.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("../assets/desktop/bg-image-daytime.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-blend-mode: darken;
  transition: background-image 1.5s;
}

.mainNight {
  background-image: url("../assets/desktop/bg-image-nighttime.jpg");
}

.overlayContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.timeRow {
  margin-top: auto;
}

.timeScreen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 4vw 8vw;
}

.expandButton {
  margin-left: auto;
  align-self: flex-end;
}

@media (max-width: 40rem) {
  .expandButton {
    margin-left: 0;
  }

  .timeRow {
    row-gap: clamp(
      3rem,
      6rem,
      calc(3rem + 2vw)
    );
  }
}

.hidden {
  display: none;
}

.timeDetails {
  flex-grow: 1;
}