.currentTime {
  color: white;
}

.timeValue {
  /* 100px --> 200px */
  --font-size-min: 6.25rem;
  --font-size-in-between: 4.05rem;
  --font-size-max: 12.5rem;
  --viewport-increment: 9.38vw;

  margin-right: 12px;

  font-weight: bold;
  letter-spacing: -5px;
}

.location {
  /* 15px --> 24px */
  --font-size-min: 0.9375rem;
  --font-size-in-between: 0.739rem;
  --font-size-max: 1.5rem;
  --viewport-increment: 0.845vw;

  margin: 0;

  font-weight: bold;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.timeZone {
  /* 15 --> 40 */
  --font-size-min: 0.937rem;
  --font-size-in-between: 0.387rem;
  --font-size-max: 2.5rem;
  --viewport-increment: 2.347vw;

  font-weight: 300;
}

.greeting {
  /* 15 --> 20 */
  --font-size-min: 0.9375rem;
  --font-size-in-between: 0.827rem;
  --font-size-max: 1.25rem;
  --viewport-increment: 0.469vw;

  margin: 0;

  text-transform: uppercase;
  letter-spacing: 4px;
}

.greetingIcon {
  margin-right: 16px;
  vertical-align: middle;
}

.timeDelimiter {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}