.currentTime {
  color: white;
}

.timeValue {
  --font-scale-factor: 1;

  font-weight: bold;
  letter-spacing: -5px;
}

.location {
  --font-scale-factor: 0.12;

  margin: 0;

  font-weight: bold;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.timeZone {
  --font-scale-factor: 0.2;

  font-weight: 300;
}

.greeting {
  --font-scale-factor: 0.1;

  margin: 0;

  text-transform: uppercase;
  letter-spacing: 4px;
}