.root {
  padding: 4vw 8vw;

  background-color: rgba(255, 255, 255, 0.75);
}

.fieldList {
  --layout-gap: calc(1rem + 2vw);
  --cell-width: calc(50% - var(--layout-gap));

  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
  flex-grow: 1;
}

.fieldDescription {
  flex-basis: var(--cell-width);
  flex-grow: 1;
}

.fieldValue {
  --font-scale-factor: 0.28;

  font-weight: bold;
  color: var(--details-text-color);
}

.fieldName {
  --font-scale-factor: 0.07;

  margin-bottom: 9px;

  color: var(--details-text-color);
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 40rem) {
  .fieldName {
    margin-bottom: 0;
  }

  .fieldDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
}