.root {
  --text-color: #303030;
  --separator-color: rgba(48, 48, 48, 0.25);
  --background-color: rgba(255, 255, 255, 0.75);
  --layout-gap: 2.625rem;
  --cell-width: calc(50% - var(--layout-gap));

  display: flex;
  align-items: center;
  padding: 4vw 8vw;

  background-color: var(--background-color);
}

.rootNight {
  --text-color: #fff;
  --background-color: rgba(0, 0, 0, 0.75);
  --separator-color: rgba(255, 255, 255, 0.25);
}

.row {
  flex-grow: 1;
}

.fieldsColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: var(--cell-width);
  gap: var(--layout-gap);
  border-right: 1px solid var(--separator-color);
}

.fieldsColumn:last-of-type {
  border-right: none;
}

.fieldList {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: var(--layout-gap);
}

.fieldDescription {
  flex-grow: 1;
}

.fieldValue {
  /* 20 --> 56 */
  --font-size-min: 1.25rem;
  --font-size-in-between: 0.457rem;
  --font-size-max: 3.5rem;
  --viewport-increment: 3.380vw;

  font-weight: bold;
  color: var(--text-color);
}

.fieldName {
  /* 10 --> 15 */
  --font-size-min: 0.625rem;
  --font-size-in-between: 0.514rem;
  --font-size-max: 0.937rem;
  --viewport-increment: 0.469vw;

  margin-bottom: 9px;

  color: var(--text-color);
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 90rem) {
  .root {
    --layout-gap: 4rem;
  }
}

@media (max-width: 60rem) {
  .fieldsColumn {
    border: none;
  }
}

@media (max-width: 40rem) {
  .root {
    --layout-gap: 1rem;
  }

  .fieldName {
    margin-bottom: 0;
  }

  .fieldDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
}