.root {
  color: #ffffff;
}

.quote {
  /* 12 --> 18 */
  --font-size-min: 0.75rem;
  --font-size-in-between: 0.617rem;
  --font-size-max: 1.125rem;
  --viewport-increment: 0.563vw;

  margin-bottom: 14px;

  line-height: 28px;
}

.figure {
  flex-basis: 540px;
  margin-right: 16px;
}

.author {
  /* 12 --> 18 */
  --font-size-min: 0.75rem;
  --font-size-in-between: 0.617rem;
  --font-size-max: 1.125rem;
  --viewport-increment: 0.563vw;
  
  font-weight: bold;
}

.refreshButton {
  padding: 0;
  border: none;

  background-color: transparent;
}