/* 200 > 40 > 24 > 20 > 18 */

.fluidFontSize {
  --base-font-size-min: 100%;
  --base-font-size-in-between: 5rem;
  --base-font-size-max: 200px;
  --font-scale-factor: 1;
  --font-size-min: var(--base-font-size-min) * var(--font-scale-factor);
  --font-size-in-between: var(--base-font-size-in-between) * var(--font-scale-factor);
  --font-size-max: var(--base-font-size-max) * var(--font-scale-factor);

  font-size: clamp(
    var(--font-size-min),
    var(--font-size-max),
    var(--font-size-in-between) + var(--viewport-delta, 2vw)
  );
}